<section class="banner">
    <h1>Meal Planner</h1>
</section>
<main class="mid_page">
    
    <section class="meal-Plan-container">
        <h2>Meals Plan</h2>
        <div>
            <label for="search">Target Calories</label>
            <input type="number" value="2000" #calories>
        </div>

        <div>
            <label for="search">Exclude ingredients</label>
            <input type="text" placeholder="Search for ingredient">
            <div class="ingredient" *ngIf="isMenuOpen" ngModel #searchInput>
                <option *ngFor="let ingredient of searchSuggestionsIngredients" [value]="ingredient.name"
                    (click)="addRemoveIngredient($event)">{{ingredient.name}}</option>
            </div>
        </div>

        <div class="sortby">
            <label for="sortBy">Diet :</label>
            <select name="diet" id="" #diet>
                <option *ngFor="let diet of diets" [value]="diet">{{diet}}</option>
            </select>
        </div>
        <button (click)="onSubmit($event)">
            Generate Meal Plan
        </button>
    </section>
    <section class="table">
        <app-meal-table [meal]="meal"></app-meal-table>
    </section>
</main>